{% if widgetNavigationBlockDetail.items %}
    <section class="widgetNavigationBlock mod {% if widgetNavigationBlockDetail.category.url %}{{ widgetNavigationBlockDetail.category.url }}{% endif %}">
        <div class="inner">
            <label>{% if widgetNavigationBlockDetail.category.title %} {{ widgetNavigationBlockDetail.category.title }}{% endif %}</label>
            <ul>
                {% for item in widgetNavigationBlockDetail.items %}
                    <li class="{% if item.class %}{{ item.class }}{% endif %}{% if item.selected %} selected{% endif %}">
                        <a title="{% if not item.description %}{{ item.title }}{% endif %}{% if item.description %} {{ item.description }}{% endif %}"
                           href="{{ item.full_url }}">{{ item.title }}</a>
                        {% if item.childrenHtml %} {{ item.childrenHtml|raw }}{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}
